body
{
    background-color: aqua;
    height: 100vh;
}
header
{
padding: 5px;
border: 2px solid black;
height: 70px;
align-content: center;
justify-content: center;
justify-items: center;
}
header div
{
    height: 70px;
    display:flex;
    border: 1px solid red;
    justify-content:space-between;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.company-logo
{
display:flex;
    border: 1px solid red;
margin-top: 18px;
margin-bottom: 18px;
margin-left: 5px;
align-items: center;
justify-content:center;
align-content: center;
height: fit-content;

}

.company-logo a
{
    padding: 15px;
    border: 1px solid green;
    width: 40%;
    height: 10px;
    display: flex;
    text-align: center;
    justify-content: center;  
    justify-items: center;
    margin: 4px;
    align-content: center;
}
#nav-links
{
    border: 1px solid blue;
    width: fit-content;
    height:fit-content;
    display:flex;
    justify-content:center;
    margin: 8px;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}
#nav-links a
{
    
    border: 1px solid red;  
width: 100px;  
justify-content: center;
text-align: center;
padding-top: 15px;
margin: 4px;

}
main
{
    height: inherit;
    margin-top: 10px;
}
main section
{
    border: 1px solid black;
    padding: 10px;
    display:flex;
    justify-content: center;
    margin: 4px;
}



#hero-section div
{
    justify-content: space-between;
    width: 17%;
border: 1px solid black;
text-align: center;
 margin: 4px;

}
#hero-section div h1
{
   
    margin: 4px;
    border: 1px solid blue;
    padding: 10px;
    justify-content: center;
}
#hero-section div p
{
border: 1px solid purple;
padding: 15px;
justify-content: center;
margin: 4px;

}
#hero-section div button
{
    border: 1px solid orange;
width: 96%;
padding: 20px;
height: 30%;
text-align: center;
justify-content: center;
align-items: center;
margin: 2px;
justify-items: center;


}
#hero-section2
{
justify-self: center;
    display:flex;
justify-items: center;
   border: 1px solid black;
   justify-content: space-evenly;
   align-items:center;
   border-top: 0;
   margin-bottom: 20px;

}



#title
{ 
    display: flex;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    margin: 5px;
    border-bottom: 0;
    margin-top: 20px;
}
#title h1
{
display: flex;
border: 1px solid #802400;
width: 180px;
height: 15px;
justify-content: center;
align-items: center;
text-align: center;
padding: 20px;
margin-top: 4px;
}


img 
{
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 200px;
}
#person1
{
border: 2px solid black;
justify-content: space-evenly;
text-align: center;
align-items: center;
padding: space-evenly;
}
#person1 img{border: 1px solid green;
    margin-top: 2px;
}
#person1 p{border: 2px solid blue;
    padding: 35px;
    justify-content: space-around;
    margin:10px;
}
#person1 h2{border: 1px solid purple;
padding:35px;
margin:10px;
}
#person2
{
    border: 2px solid black;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: space-evenly;
    }
    #person2 img{border: 1px solid green;
    }
    #person2 p{border: 2px solid blue;
        padding: 35px;
        justify-content: space-around;
        margin:10px;
    }
    #person2 h2{border: 1px solid purple;
        padding:35px;
        margin:10px;
        }
#person3
{
    border: 2px solid black;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: space-evenly;
    }
    #person3 img{border: 1px solid green;
    }
    #person3 p{border: 2px solid blue;
        padding: 35px;
        justify-content: space-around;
        margin:10px;
    }
    #person3 h2{border: 1px solid purple;
        padding:35px;
        margin:10px;
        }
    #person4
{
    border: 2px solid black;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: space-evenly;
    }
    #person4 img{border: 1px solid green;
    }
    #person4 p{border: 2px solid blue;
        padding: 35px;
        justify-content: space-around;
        margin:10px;
    }
    #person4 h2{border: 1px solid purple;
        padding:35px;
        margin:10px;
        }
    #hero3
    {
        display:flex;
        border: 1px solid black;
        height:fit-content;
        width:fit-content;
        margin-left: 24%;
    }
    #hero3 div
    {
        
      margin: 10px;
      border: 1px solid black;
    }



    #hero3 q
    {
        display:flex;
        border: 1px solid black;
        justify-content: center;
        padding:35px;
    }
    #hero3 p
        {
            display:flex;
            border: 1px solid black;
            justify-content: center;
            padding:35px;
        }
    
    #hero3 h2
    {
        display:flex;
        border: 1px solid black;
        justify-content: center;
        padding:35px;
    }
    #hero3 img
    {

       margin-top: 0;
        display:flex;
        border: 2px solid green;
        justify-content: center;
        height: 100px;
        width: 200px;
        text-align:center;
        justify-items: center;
    }
   .title4 h1
   {
    display: flex;
    border: 1px solid red ;
    padding: 15px;
    align-content: center;  
    justify-content: center;
    width:fit-content;
    
 }
 .title4
 {
    border: 1px solid black;
    width: inherit;
    padding-left: 43%;
    justify-content: center;
    
 }
   
  #hero4
    {
        display: flex;
        border: 1px solid blue;
        padding: 15px;
        text-align: center;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        width: inherit;
        margin-bottom: 0;
    }
    #hero4 div
    {
     
     justify-content: space-between;
     align-content: space-between;
     justify-items: space-around;
     margin: 4px;
     border: 1px solid black;
     align-items: center;
     margin: 4px;
    }
    #picture
    {
        border: 1px solid green;
       padding: 20px;
       height: 20px;
       justify-content: center;
       align-content:center;
    }
  
    #hero4 h1
    {
        display:flex;
        width: auto;
        border: 1px solid red;
        padding: 15px;
        justify-content:center;
        text-align: center;
        align-items: center;
        margin: 4px;
    }
    #hero4 p
    {
        border: 1px solid orange;
        padding: 18px;
        margin: 4px;
    }
    #hero4 span
    {
        border: 1px solid green;
        padding: 15px;
        margin: 4px;
    }
    
    
    .hero4body0
    {
        border: 1px solid black;
        display:flex;
        justify-items: center;
        align-items: center;
    }

    
    
    #hero4body1 

    {
        display:flex;
        border: 1px solid red;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    
    
    main
    {
        justify-content:center;

    }

    #button 
{
    margin: 0;
    margin-bottom: 4px;
    
    align-content: center;
    align-items: center;
    text-align: center;

}
    
    
    #button button
{
    border: 1px solid orange;
    padding: 20px;
    width: 20%;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 2px;

}

#hero5
{
    border: 1px solid black;
    margin-bottom: 4px;
}
#title6
{
    border: 1px solid black;
    display:flex;
    width: 20%;
    justify-content: center;
    padding: 20px;
    margin-left: 38%;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin-bottom: 4px;
}
#hero6 div
{
    border: 1px solid black;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
margin: 4px;

}
#hero6
{
    display:flex;
    border: 1px solid black;
    width: 50%;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    margin-left: 24%;
}
#hero61
{
    display: flex;
    align-items: flex-start;
}
#hero62
{
    display: flex;
    align-items: flex-start;
}
#hero6 h1
{
    border: 1px solid blue;
    justify-content: center;
    padding: 20px;
    margin: 4px;

}    
#hero6 p
{
    border: 1px solid purple;
    justify-content: center;
    padding: 20px;
    margin: 4px;
}

footer div
{
    height: inherit;
    display:flex;
    border: 1px solid red;
    justify-content:space-between;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin: 4px;
}


#nav-links2
{
    width: inherit;
    border: 1px solid blue;
    padding: 4px;
    justify-content:center;
    margin: 4px;
    align-content: center;
    align-items: center;
    
}
#nav-links2 a
{
border: 1px solid yellow;
margin:4px;
}



 
   

