body{
    display: flex;
    flex: auto;
    background-color: aqua;
    
}
main
{
    display: flex;
    flex: auto;
    padding-top: 20%;
    text-align: center;
align-content: justify;   
}

main article

{
   flex:2;
   overflow-y: auto;
   border-left: 0;
   width: 100%;
}
main aside

{
    flex: 1;
    overflow-y: auto;
    width: 100%;
    margin: 10px;
}

